/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
	/* ボタンの配置位置  */
	position: fixed;
	top: 32px;
	right: 16px;
	/* 最前面に */
	z-index: 10;
	/* ボタンの大きさ  */
	width: 48px;
	height: 48px;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
	display: block;
	/* バーガー線の位置基準として設定 */
	position: relative;
	/* 線の長さと高さ */
	width: 100%;
	height: 4px;
	/* バーガー線の色 */
	background-color: #d6d5d5;
	transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before , .btn-line::after {
	content: "";
	/* 基準線と同じ大きさと色 */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #d6d5d5;
	transition: .5s;
}

.btn-line::before {
	/* 上の線の位置 */
	transform: translateY(-16px);
}

.btn-line::after {
	/* 下の線の位置 */
	transform: translateY(16px);
}

/***** メニューオープン時 *****/
.btn-line.open {
	/* 真ん中の線を透明に */
	background-color: transparent;
}

.btn-line.open::before , .btn-line.open::after {
	content: "";
	background-color: #333;
	transition: .2s;
}

.btn-line.open::before {
	/* 上の線を傾ける */
	transform: rotate(45deg);
}

.btn-line.open::after {
	/* 上の線を傾ける */
	transform: rotate(-45deg);
}

/**************** ここまで、ハンバーガーボタンのスタイリング ****************/

/**************** 以下、メニューのスタイリング ****************/
.menu {
	/* メニューを縦に */
	display: flex;
	flex-direction: column;
	position: fixed;
	/* メニューの位置マイナス指定で画面外に */
	right: -70%;
	width: 70%;
	height: 100vh;
	background-color: rgba(167, 148, 58, .7);
	color: #efefef;
	transition: .3s;
}

.menu-list {
	/* メニューテキスト位置をリスト内中心に */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.menu-list:hover {
	background-color: rgba(255, 255, 255, .5);
	color: #333;
	cursor: pointer;
	transition: .3s;
}

/***** メニューオープン時位置0にして画面内に *****/
.menu.open {
	position: absolute;
	right: 0;
}

/* 600px以上はハンバーガーボタン非表示、ヘッダー固定 */
@media screen and (min-width: 600px) {
	.btn {
		display: none;
	}

	.menu {
		/* メニューを横に */
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 100;
		right: 0;
		width: 100%;
		height: 100px;
	}
}
/**************** ここまで、メニューのスタイリング ****************/

body{
  margin: 0;
}
a{
  color: #040404;
  text-decoration: none;
}
.mainView{
  width: 100vw;
  /* height: 100%; */
  background-color: #333;
  padding: 0 50px 50px;
}
/*ハンバーガーボタン*/
.el_humburger {
  position: fixed;
  top: 45px;
  right: 60px;
  width: 46px;
  height: 25px;
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  text-align: center;
}
 
@media screen and (max-width: 840px) {
  .el_humburger {
    display: block;
    right: 0;
    top: 0;
    padding-top: 20px;
    width: 70px;
    height: 70px;}
    #factory .el_humburger {
      display: none; } }
 
.el_humburger_wrapper {
  margin-bottom: 5px;
  width: 42px;
  display: inline-block; }
 
@media screen and (max-width: 840px) {
  .el_humburger_wrapper {
    margin-bottom: 5px;
    width: 30px; 
  } }
 
.el_humburger_text {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; }
 
.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none; }
 
.el_humburger_text.el_humburger_text__close {
  display: none; }
 
.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block; }
 
@media screen and (max-width: 840px) {
  .el_humburger_text {
    font-size: 10px;
    padding-top: 2px; } }
 
@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000; } }
 
@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000; } }
 
.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 5px;
  background: white;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
 
.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0; }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #000; }
 
@media screen and (max-width: 840px) {
  .el_humburger span.el_humburger_bar {
    left: 0;
    top: 0;
    background: white; } }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(16px) rotate(-45deg);
  -ms-transform: translateY(16px) rotate(-45deg);
  transform: translateY(16px) rotate(-45deg); }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0; }
 
.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg); }
 
.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%; }
 
.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #000; }
 
.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg); }
 
.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg); }
 
.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 450px;
  z-index: 3;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  transform:translateZ(0) translateX(100%);
  overflow: auto; }
  .js_humburgerOpen .navi {
    transform:translateZ(0) translateX(0); }
    @media screen and (max-width: 840px) {
      .navi {
        padding: 100px 5% 0; }
      .js_humburgerOpen .navi {
        width: 100%;} }
 
.navi_item {
  position:relative;
  margin-bottom: 28px;
  font-size: 20px;
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
  margin-left: 90px; }
  .navi_item.op_innerLink {
    cursor: pointer; }
  @media screen and (max-width: 840px) {
    .navi_item {
      margin-left: 0;
      font-size: 18px; } }
 
 
 
.el_spChildNavOpen {
  position: absolute;
  top: -6px;
  left: 80%;
  z-index: 20;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  padding: 10px; }
 
.js_openParent.js_fire > .el_spChildNavOpen {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
  .js_openParent.js_fire > .el_spChildNavOpen > .el_spChildNavOpen_wrapper:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0; }
 
.el_spChildNavOpen_wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }
  .el_spChildNavOpen_wrapper:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #111;
    position: absolute;
    top: calc(50% - 1px); }
  .el_spChildNavOpen_wrapper:after {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #111;
    position: absolute;
    left: calc(50% - 1px);
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
 
 
.nav_child{
  padding-top:20px;
}
 
.nav_child_item{
  position: relative;
  font-size:16px;
  padding-left:20px;
  margin-bottom:10px;
}
 
.nav_child_item > a{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
}
 
.nav_child_item:last-child{
  margin-bottom:0px;
}
 
.js_openSwitch {
  cursor: pointer; }
 
.js_openTarget {
  display: none; }


/* ------------------ */


  /* input{
    display: none;
  } */
  .bl_3daysSearchBlock{
    margin-bottom: 60px;
  }
  .bl_3daysSearchBlock_inner{
    width: 82.9%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .bl_3daysSearchBlock_ttl{
    text-align: center;
    margin: 55px 0;
  }
  .bl_3daysSearchBlock_ttl_main{
    font-size: 27px;
    color: #0073aa;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-family: "Josefin Sans" , "NotoSansCJKjp-Jxck", "Noto Sans CJK JP" , "Noto Sans" , "Noto Sans Japanese" ,"Helvetica Neue", "Meiryo" , "メイリオ", "YuGothic", "游ゴシック",sans-serif;
  }
  .bl_3daysSearchBlock_ttl_sub{
    font-size: 16px;
    color: #0073aa;
    letter-spacing: 0.2em;
  }
  .el_searchResult{
    text-align: center;
    color: #0073aa;
  }
  .js_target{
    display: none;
  }
  .js_target.js_selected{
    display: block;
  }
  .bl_selectBlock label{
    display: inline;
  }
  .bl_selectBlock input{
  }
  .bl_selectBlock_check label .el_checkbox{
    position: relative;
    top: 3px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #0073aa;
  }
  .bl_selectBlock_check label .el_checkbox:after{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
  }
  .bl_selectBlock_check input[type=checkbox]:checked + label .el_checkbox:after{
    background-color: #0073aa;
  }
  .el_searchResult{
    margin-bottom: 20px;
  }
  .bl_selectBlock{
    border: 1px solid #0073aa;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  .bl_selectBlock_wrapper_wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
  }
  .bl_selectBlock_check label{
    cursor: pointer;
  }
  .bl_selectBlock_ttl{
    width: 185px;
    color: #0073aa;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 765px){
    .bl_selectBlock_ttl{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .bl_selectBlock_content{
    width: calc(100% - 185px);
  }
  @media screen and (max-width: 765px){
    .bl_selectBlock_content{
      width: 100%;
    }
  }
  .bl_searchResultBlock{
    font-size: 14px;
    border-top: 1px solid #bdbdbd;
  }
  .bl_searchResultBlock_item{
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #bdbdbd;
  }
  .bl_selectBlock_check{
    display: inline-block;
    margin-right: 25px;
    display: inline-block;
    margin-bottom: 20px;
  }
  .bl_selectBlock_check:last-child{
    margin-right: 0;
  }
  .bl_selectBlock_release{
    text-align: center;
    color: #fff;
    background-color: #bdbdbd;
    padding: 15px 0;
  }
  .js_release{
    cursor: pointer;
  }


  /* ----------------------------------- */
  /* ---------- 必須CSS ここから ------------ */

#result [class*="hidden-"] {display: none;}

/* ---------- 必須CSS ここまで ------------ */


/* ここから下は見た目の調整 */
#select {margin-bottom: 1em;}
#result section{border: 1px solid #888; padding: 5px;}
#result section p{margin: 0px;}

#select label.selected {background-color: #fcc;} /* 選択中のラベルのスタイルを変更 */